@-webkit-keyframes slideInDown {
	0% {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}

.slideInDown {
	animation-name: slideInDown;
}
@-webkit-keyframes slideInUp {
	0% {
		transform: translate3d(0, 100%, 0);
		visibility: visible;
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}

.slideInUp {
	animation-name: slideInUp;
}

@-webkit-keyframes slideOutUp {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		visibility: hidden;
		transform: translate3d(0, -100%, 0);
	}
}

.slideOutUp {
	animation-name: slideOutUp;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translate3d(0, -2%, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

.row {
	-webkit-animation-duration: 0.4s;
	-webkit-animation-name: fadeInDown;
	-webkit-animation-timing-function: ease-in-out;
}
