
button {

	font-size: 16px;
	font-weight: 600;

	&.large {
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 16px;
	}
	&.double {
		width: 46%;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	&:hover {
		background-color: $primary-color-darker;
	}
	&:focus {
		background-color: $primary-color-darker;
	}
	&:active {
		background-color: $primary-color-darker;
	}
	&:disabled {
		color: $gray-light;
		background: $primary-color;
		cursor: not-allowed;
		&:hover {
			color: $gray-light;
			background: $primary-color;
		}
	}
}
button.disabled {
	color: $gray-light;
	background: $primary-color;
	cursor: not-allowed;
	&:hover {
		color: $gray-light;
		background: $primary-color;
	}
}
button.green {
	background: $success-color;
	color: #fff;
}
