

body {
  background: $gray;
}

button {
  background: $primary-color-dark;
}

.border-right {
	border-right: 1px solid $gray;
}

.text-red {
	color: $primary-color;
}
.text-gray {
	color: $gray;
}
.text-right {
	text-align: right !important;
}
