.r-t {
  padding-top: $padding-top !important;
}

.p-t-b {
  padding-top: 20px;
  padding-bottom: 20px;
}
.p-b {
	padding-bottom: 20px;
}
.p-t {
	padding-top: 20px;
}
.p-t-b-l-r {
  padding: 20px;
}

.collapsed {
  padding-left: 0;
  padding-right: 0;
}
