.rc-header {
	background: $gray-dark !important;
	min-height: 45px;

	padding: 0;

	a {
		color: #fff;

		min-height: 45px;

		//vertical-align: middle;

		padding-top: 9px;

		display: inline-block;

		padding-left: 20px;
		padding-right: 20px;

		margin: 0;

		text-align: center;
		&.active {
			background: $primary-color;
		}
		&:hover {
			background: $primary-color-light;
		}
	}
}
