.icon-input {
  position: absolute;
  left: 38px;
  top: 22px;
	font-size: 20px;
  color: $gray;
}
.icon-input--collapsed {
	position: absolute;
	top: 22px;
	font-size: 20px;
	color: $gray;
	left: 19px;
}
