.messages {

	text-align: center;
	position: absolute;
	left: 20px;
	top: 20px;
	border-radius: $border-radius;
	background: #fff;
	padding: 20px;
}
.messages.ng-enter {
	-webkit-animation-duration: 0.3s;
	-webkit-animation-name: slideInDown;
	-webkit-animation-timing-function: ease-in;
}
.messages.ng-leave {
	-webkit-animation-duration: 0.3s;
	-webkit-animation-name: slideOutUp;
	-webkit-animation-timing-function: ease-out;
}
