.popdown {
  position: absolute;
  left:  0.9375rem;
  top: 35px;
  padding:  0.9375rem;
  width: 100%;
  border-bottom: 1px solid $gray;
  border-radius: $border-radius;
  border-right: 1px solid $gray;
  border-left: 1px solid $gray;
  background: #fff;
  z-index: 1;
  &.on-small-6 {
      max-width: 430px;
  }
  &.on-search {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    left: 0px;
    border-color: #fff;
    top: 55px;
    max-width: none;
    width: 100%;
    text-align: left;
  }
}
