h1 {
  font-size: 24px;
  color: $gray-light;
}
h2 {
  font-size: 30px;
  color: $gray-dark !important;
}
h3 {
	font-size: 18px;
	color: $gray-light !important;
}
h4 {
	font-size: 20px;
	font-weight: bold;
	@extend .p-b
}
p {
  color: $gray-light !important;
}
