$primary-color-darker: #e51819;
$primary-color-dark: #cb252b;
$primary-color: #f27581;
$primary-color-light: #f6b7c6;
$primary-color-lighter: #fcd2dd;
$primary-color-lightest: #fef0f0;

$secondary-color: #3e393a;

$success-color: #60a835;

$gray-light: #a09d9e;
$gray: #f1eff0;
$gray-dark: #3e393a;
$gray-darker: #625e5e;

//Sizes
$padding-top: 60px;

$border-radius: 5px;

//Transitions

$transition-speed: 0.2s;
