<div class="row r-t">
  <div class="small-6 columns large-centered collapsed colors" colors>
  </div>
  <div class="small-6 columns collapsed large-centered">
    <div class="small-12 columns panel">
      <div class="small-12 columns p-t-b-l-r" ng-repeat="data in data">

        <div class="small-1 columns  collapsed text-center">
			<i class="icon fa fa-tags text-red"></i>
        </div>
        <div class="small-10 columns collapsed">
			{{data.name}}
        </div>
		  <div class="small-1 columns  collapsed">
			  <i class="icon fa fa-angle-right right"></i>
		  </div>

      </div>
    </div>
  </div>
</div>
