<div class="row r-t">
  <div class="small-6 columns large-centered collapsed colors" colors>
  </div>
  <div class="small-6 columns collapsed large-centered">
    <div class="small-12 columns panel">
      <div class="small-12 columns p-t-b-l-r">


        <div class="small-12 columns collapsed text-center">
          <h2>TILMELD EN PERSON</h2>
          <p>Indtast de personlige oplysninger<br/>
            for personen du tilmelder.</p>
        </div>

        <div class="small-12 columns">
          <input type="text" class="input-icon" placeholder="Foran navn" ng-model="firstnameInput" />
          <i class="icon-input fa fa-user"></i>
        </div>
        <div class="small-12 columns">
          <input type="text" class="input-icon" placeholder="Efternavn" ng-model="lastnameInput" />
          <i class="icon-input fa fa-user"></i>
        </div>

        <div class="small-12 columns">
          <input type="text" class="input-icon" placeholder="Adresse" ng-model="nameInput" />
          <i class="icon-input fa fa-location-arrow"></i>
        </div>

        <div class="small-12 columns">
          <input type="text" class="input-icon" placeholder="Telefonnummer" ng-model="nameInput" />
          <i class="icon-input fa fa-phone"></i>
        </div>

        <div class="small-12 columns">
          <input type="text" class="input-icon" placeholder="Email-adresse" ng-model="nameInput" />
          <i class="icon-input fa fa-envelope"></i>
        </div>

        <div class="small-12 columns">
          <input type="text" class="input-icon" placeholder="Antal indsamlingsbøsser" ng-model="nameInput" />
          <i class="icon-input fa fa-heart"></i>
        </div>

      </div>
    </div>
  </div>
</div>
