<div class="row r-t slideInDown">
	<div class="small-12 columns large-centered collapsed colors" colors>
	</div>
	<div class="small-12 columns  panel">
		<div class="small-12 columns p-t-b-l-r">

			<div class="small-3 columns collapsed">
				<h3>Gruppe</h3>
			</div>

			<div class="small-1 columns collapsed">
				<h3>Udlever.</h3>
			</div>

			<div class="small-1 columns collapsed">
				<h3>Indlever.</h3>
			</div>

			<div class="small-1 columns collapsed">
				<h3>Total</h3>
			</div>

			<div class="small-2 columns collapsed">
				<h3>Antal personer</h3>
			</div>

			<div class="small-2 columns collapsed">
				<h3>Mødested</h3>
			</div>

			<div class="small-2 columns collapsed">
				<h3>Antal tildelte ruter</h3>
			</div>


		</div>
		<div class="small-12 columns p-t-b-l-r grid" ng-repeat="data in data"
			 ui-sref="edituser({id:data.id})">

			<div class="small-3 columns collapsed">
				{{data.firstname}} {{data.lastname}}
			</div>

			<div class="small-1 columns collapsed">
				0
			</div>

			<div class="small-1 columns collapsed">
				0
			</div>

			<div class="small-1 columns collapsed">
				0
			</div>

			<div class="small-2 columns collapsed">
				0
			</div>

			<div class="small-2 columns collapsed">
				Asd
			</div>

			<div class="small-2 columns collapsed">
				0
			</div>

		</div>
	</div>
</div>
