<div class="row r-t">
	<div class="small-6 columns large-centered collapsed colors" colors>
	</div>
	<div class="small-6 columns collapsed large-centered">
		<div class="small-12 columns panel">
			<div class="small-12 columns p-t-b-l-r">

				<div class="small-12 text-center columns collapsed">
					<h4>Logger ud, vent et øjeblik.</h4>

				</div>

				<div class="small-12 text-center columns collapsed">
					<a ui-sref="search">Gå tilbage til søgefeltet</a>
				</div>


			</div>
		</div>
	</div>
</div>
