<div class="row r-t slideInDown">
	<div class="small-12 columns large-centered collapsed colors" colors>
	</div>
	<div class="small-12 columns  panel">
		<div class="small-12 columns p-t-b-l-r">

			<div class="small-2 columns collapsed">
				<h3>Navn</h3>
			</div>

			<div class="small-2 columns collapsed">
				<h3>Total beløb</h3>
			</div>

			<div class="small-2 columns collapsed">
				<h3>Indsamlere</h3>
			</div>

			<div class="small-1 columns collapsed">
				<h3>Ruter</h3>
			</div>

			<div class="small-1 columns collapsed">
				<h3>Grupper</h3>
			</div>

			<div class="small-2 columns collapsed">
				<h3>Indsam.b. Udleveret</h3>
			</div>

			<div class="small-2 columns collapsed">
				<h3>Indsam.b. Mangler</h3>
			</div>



			<div class="small-1 columns collapsed">
				&nbsp;
			</div>
		</div>
		<div class="small-12 columns p-t-b-l-r grid"
			 ng-repeat="data in data"
			 ui-sref="editmeetingplace({id:data.id})">

			<div class="small-2 columns collapsed">
				{{data.name}}
			</div>

			<div class="small-2 columns collapsed">
				1111
			</div>

			<div class="small-2 columns collapsed">
				2424
			</div>

			<div class="small-1 columns collapsed">
				213
			</div>

			<div class="small-1 columns collapsed">
				21
			</div>

			<div class="small-2 columns collapsed">
				4423
			</div>

			<div class="small-2 columns collapsed">
				0
			</div>

		</div>
	</div>
</div>
