<div class="row r-t">
  <div class="small-6 columns large-centered">
    <h1>_Søg efter indsamler eller kampagne</h1>
  </div>
  <div class="small-6 columns large-centered">
    <input type="text" />
    <button>_Search</button>
  </div>


  <div class="small-6 columns large-centered collapsed" style="height: 5px;" colors>
  </div>
  <div class="small-6 columns large-centered panel">
    <div class="small-2 columns collapsed"  >
      ICON
    </div>
    <div class="small-6 columns collapsed">
      NAVN
    </div>
    <div class="small-4 columns collapsed">
      PHONE
    </div>
  </div>
</div>
